calcurse
chromium
Code - OSS
dconf
discord
Electron
flameshot
flowblade
GIMP
helm
htop
k9s
kdeglobals
kdenlive-layoutsrc
kdenliverc
Kvantum
Lens
mimeapps.list
mpv
OpenLens
parcellite
pavucontrol.ini
procps
pulse
qt5ct
QtProject.conf
ranger
Slack
systemd
thefuck
vlc
yarn
yay
